@model DDCA.Areas.MachineService.ViewModels.CmprsrServiceNew


@{
    /**/

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.InsertionMode = InsertionMode.Replace;
    options.UpdateTargetId = "divContainer";

}

@using (Ajax.BeginForm("BoreBorestrataShow", options))
{

    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary()*@

    <div class="container">
        <div class="row">
            <h2 class="text-center text-primary">View Machine Service Data</h2>
            <hr />
            <div class="col-sm-6">
                <h4 class="text-left text-info text-uppercase"><b>Compressor Service Information</b></h4>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(x => x.InchargeName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(x => x.InchargeName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(x => x.MaterialCost)
                    </dt>
                    <dd>
                        @Html.DisplayFor(x => x.MaterialCost)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(x => x.LabourCost)
                    </dt>
                    <dd>
                        @Html.DisplayFor(x => x.LabourCost)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(x => x.StartDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(x => x.StartDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(x => x.EndDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(x => x.EndDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(x => x.JobDone)
                    </dt>
                    <dd>
                        @Html.DisplayFor(x => x.JobDone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(x => x.RegNo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(x => x.RegNo)
                    </dd>

                    
                </dl>
            </div>


        </div>

        <br />




        <br />
        <a href="@Url.Action("IndexCmprsr")" class="btn btn-success">Or Back To List</a>


        <br />
        <br />

    </div>

}






